body {
    background-color: black;
}

h1 {
    color: white;
    font-size: 3rem;
    text-align: center;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

#searchButton {
    color: white;
    background-color: blue;
}

#removeButton {
    color: white;
    background-color: red;
}